/*-----------------------------------------------------
 #GLOBAL
-----------------------------------------------------*/

html {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: calc(5px + 2vmin);
  text-align: center;
  text-transform: uppercase;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  background: fixed no-repeat
    linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  height: 100%;
  /* height: 100vh; */
  color: hsl(228, 45%, 84%);

  margin: 0 auto;
  max-width: 56rem;
  overflow: hidden;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: hsl(228, 45%, 84%);
}
a:hover,
a:focus {
  color: crimson;
}

@media only screen and (max-width: 600px) {
  /* body { height: 95vh; } */
  /* To avoid shrinking some UI elements (buttons, etc) too much on mobile */
  .fix-min-size {
    font-size: 16px;
  }
}

/* body * { outline: 1px solid red; } */

/*-----------------------------------------------------
 #HEADER
-----------------------------------------------------*/

.header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  border-radius: 0.4rem;
  border: 0.1rem solid hsl(217, 16%, 45%);
  padding: 0 1rem;

  width: 24rem;
  max-width: 95vw;
}

.header__logo {
  background: no-repeat center center / 9rem url("images/logo.svg");
  height: 7rem;
  width: 10rem;
}

.header__score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  height: 50%;
  padding: 0.5em 2em;
  color: hsl(229, 64%, 46%);
  background: white;
  line-height: 0.9;
  font-weight: 700;
}

.score__number {
  font-size: 3rem;
}

/*-----------------------------------------------------
 #GAME_LAYOUT
-----------------------------------------------------*/

.game {
  display: flex;
  flex-direction: column;
  position: relative;
  /* flex-wrap: wrap; */
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.game__state {
  display: flex;
  justify-content: center;
}

.state--start {
  flex-wrap: wrap;
  width: 24rem;
  background: no-repeat 50% 66% / 12rem url("images/bg-triangle.svg");
  animation: enlarge-from-nothing 1s ease-out forwards;
}

@keyframes enlarge-from-nothing {
  0% {
    transform: scale(0.1);
  }
  80% {
    transform: scale(1.1);
  }
}

.state--in-progress {
  display: none;
  width: 36rem;
  justify-content: space-evenly;
}

.state__middle {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
}

.middle__title {
  font-size: 2em;
  margin-top: 2rem;
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  .state--in-progress {
    width: 28rem;
    flex-wrap: wrap;
  }

  .state__player {
    display: flex;
    flex-direction: column-reverse;
  }

  .state__middle {
    margin: .5rem 3rem 0 3rem;
    order: 3;
  }

  .choice__title {
    font-size: 1.2rem;
  }

  .middle__title {
    font-size: 3rem;
    margin: 0;
  }
}

/*-----------------------------------------------------
 #GAME_UI_ELEMENTS
-----------------------------------------------------*/

.game__choice {
  display: flex;
  position: relative;
  flex-shrink: 0;

  justify-content: center;
  align-items: center;
  border-radius: 50%;

  margin: 0.75rem 1.75rem;

  width: 8rem;
  height: 8rem;

  z-index: 10;
}

.game__choice::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: white;
  box-shadow: inset 0 0.2rem 0.1rem 0 hsl(0, 0%, 80%),
    0 0 0 0.1rem hsla(0, 0%, 0%, 0.2);

  width: 75%;
  height: 75%;

  z-index: 20;
}

.game__choice::after {
  content: "";
  width: 43.75%;
  height: 43.75%;
  z-index: 30;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.choice--initial {
  cursor: pointer;
}

.choice--initial:hover,
.choice--initial:focus {
  transform: scale(1.2);
  transition-duration: 250ms;
}

.choice--in-progress {
  width: 10rem;
  height: 10rem;
  margin: 0;
  animation: enlarge-from-nothing 1s forwards;
}

.choice__title {
  padding: 2rem 0;
}

.choice--none {
  display: none;
}

.choice--paper {
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: 0 0.3rem 0.3rem 0 hsla(0, 0%, 0%, 0.3),
    0 0.3rem 0 0 hsl(230, 89%, 60%);
}

.choice--scissors {
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0 0.3rem 0.3rem 0 hsla(0, 0%, 0%, 0.3),
    0 0.3rem 0 0 hsl(39, 89%, 45%);
}

.choice--rock {
  background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0 0.3rem 0.3rem 0 hsla(0, 0%, 0%, 0.3),
    0 0.3rem 0 0 hsl(349, 71%, 50%);
}

.choice--paper::after {
  background-image: url("images/icon-paper.svg");
}
.choice--scissors::after {
  background-image: url("images/icon-scissors.svg");
}
.choice--rock::after {
  background-image: url("images/icon-rock.svg");
}

.choice--backdrop {
  position: relative;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background: hsla(0, 0%, 0%, 0.25);
}

/* Add this to .choice--backdrop element for winner */
.backdrop--winner::after {
  content: "";
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: -1;
  animation: ripple 1s linear forwards;
  /* background-image: repeating-radial-gradient(
    hsla(0, 0%, 100%, 0.4) 0 10%,
    hsla(0, 0%, 100%, 0.2) 10% 20%
  ); */
  /* transform: scale(4); */
  /* background: hsla(0, 0%, 100%, 0.2); */
  /* background: hsla(0, 0%, 100%, 0.2); */
  box-shadow: 0 0 0 2rem hsla(0, 0%, 100%, 0.4), 
    0 0 0 4rem hsla(0, 0%, 100%, 0.2), 
    0 0 0 6rem hsla(0, 0%, 100%, 0.1);
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

.game__btn-play-again {
  display: block;
  text-decoration: none;

  border-radius: 0.25em;
  padding: 0.5em 2em;
  margin: 0.5rem 0;

  color: hsl(229, 25%, 31%);
  background: white;
}

.game__btn-rules {
  display: block;

  text-decoration: none;

  border-radius: 0.25em;
  border: 0.1em solid gray;
  padding: 0.5em 2em;
}

@media only screen and (min-width: 550px) {
  .game__btn-rules {
    align-self: flex-end;
  }
}

@media only screen and (max-width: 550px) {
  .game__btn-rules {
    align-self: center;
  }
}

/*-----------------------------------------------------
 #MODAL
-----------------------------------------------------*/

.game__rules {
  position: fixed;
  top: 20%;
  width: 18rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  visibility: hidden;
  /* display: none; */
  z-index: 1000;

  color: black;
  background: white;

  border-radius: 0.4rem;
  padding: 1rem 2rem;
}

.rules__header {
  padding-bottom: 1rem;
  font-size: 1.4rem;
}

.rules__img {
  width: 18rem;
}

@media only screen and (max-width: 550px) {
  .game__rules {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 0;
  }

  .rules__header {
    font-size: 2.5rem;
  }

  .rules__btn-close {
    order: 1;
    transform: scale(2);
  }

  .rules__img {
    width: 24rem;
  }
}

/*-----------------------------------------------------
 #FOOTER
-----------------------------------------------------*/

.footer {
  flex-shrink: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  color: hsl(228, 45%, 60%);
  text-transform: initial;
}

.footer__attribution {
  font-size: 0.8rem;
  text-align: center;
}
