/*
- Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%) 
*/

@media only screen and (max-width: 840px) {
  :root {
    --font-size: 12px;
    --page-max-width: 600px;
    --game-width: 360px;
    --game-min-height: 300px;
    --icon-size-outer: 100px;
    --icon-size-inner: 80px;
    --icon-size-picture: 40px;
  }
}

@media only screen and (min-width: 840px) {
  :root {
    --font-size: 20px;
    --page-max-width: 1366px;
    --game-width: 800px;
    --game-min-height: 600px;
    --icon-size-outer: 200px;
    --icon-size-inner: 160px;
    --icon-size-picture: 80px;
  }
}

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  font-size: 24px;
  font-size: var(--font-size);
}

body {
  background: no-repeat linear-gradient(hsl(214, 47%, 23%),
                                        hsl(237, 49%, 15%));
  height: 100vh;
  color: hsl(228, 45%, 84%);
  
  margin: 1rem auto;
    
  max-width: 1366px;
  max-width: var(--page-max-width);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    border: 2px solid hsl(217, 16%, 45%);
    
    /* height: 150px; */
    max-width: 800px;
    max-width: var(--game-width);
}

.logo {
  margin-left: 0.5em;
  background: no-repeat center center url('images/logo.svg');
  min-height: 150px;
  min-height: var(--icon-size-inner);
  width: 200px;
  width: var(--icon-size-inner);
  background-size: var(--icon-size-inner);
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 50%;
  margin-right: 1em;
  padding: 0.5em 2em;
  color: hsl(229, 64%, 46%);
  background: white;
  line-height: 0.9;
  font-weight: 700;
}

.score__title {
  text-transform: uppercase;
  font-size: 1rem;
}

.score__number {
  font-size: 3rem;
}

.game {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: no-repeat center center / 50% url('images/bg-triangle.svg');
  
  min-height: 600px;
  width: 800px;
  
  min-height: var(--game-min-height);
  width: var(--game-width);
}

.btn-rules {
  display: block;
  position: absolute;
  bottom: 15%;
  right: 10%;
  
  color: hsl(228, 45%, 84%);
  text-transform: uppercase;
  text-decoration: none;
  
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.5rem 2rem;
}

.rules {
  position: fixed;
  top: 20%;
  visibility: hidden;
  /* bottom: 25%; */
  z-index: 20;
  color: black;
  background: white;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.rules__header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.choices {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  
  min-width: 200px;
  min-height: 200px;
  
  min-width: var(--icon-size-outer);
  min-height: var(--icon-size-outer);
}

.choices::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: white;
  box-shadow: inset 0 .3rem .1rem 0 hsl(0, 0%, 80%),
              0 0 0 .1rem hsla(0, 0%, 0%, 0.2);
  
  width: 160px;
  height: 160px;
  
  width: var(--icon-size-inner);
  height: var(--icon-size-inner);
}

.choices > .icon {
  z-index: 10;
  
  width: 80px;
  height: 80px;
  
  width: var(--icon-size-picture);
  height: var(--icon-size-picture);
}

.paper {
  background: linear-gradient(hsl(230, 89%, 62%),
                              hsl(230, 89%, 65%));
  box-shadow: 0 .5rem .5rem 0 hsla(0, 0%, 0%, 0.2),
              0 .5rem 0 0 hsl(230, 89%, 60%);
}
.scissors {
  background: linear-gradient(hsl(39, 89%, 49%),
                              hsl(40, 84%, 53%));
  box-shadow: 0 .5rem .5rem 0 hsla(0, 0%, 0%, 0.2),
              0 .5rem 0 0 hsl(39, 89%, 45%);
}
.rock {
  background: linear-gradient(hsl(349, 71%, 52%),
                              hsl(349, 70%, 56%));
  box-shadow: 0 .5rem .5rem 0 hsla(0, 0%, 0%, 0.2),
              0 .5rem 0 0 hsl(349, 71%, 50%);
}

.top-left {
  left: 20%;
  top: 10%;
}

.top-right {
  right: 20%;
  top: 10%;
}

.bottom {
  bottom: 20%;
}

.footer { font-weight: 400; }

.attribution { font-size: 0.8rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 84%); }